*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
/* header section styles */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-tittle{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.check{
    display: none;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}
nav a:hover{
    color: #FF5400;
}
.banner{
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 50px auto;
    padding-top: 155px;
}
.banner-tittle{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner-description{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.input{
    width: 174px;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 5px;
}
.selector{
    width: 174px;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 05px;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.background{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 50px;
}
/* main section styles */

.popular-tour-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.tour-tittle{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.btn-1{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 40px;
}
.img-1{
    width: 540px;
    height: 550px;
    border-radius: 16px;
}
.destination-tittle{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.flex-row{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}
.row{
    position: relative;
}
.row img{
    width: 573px;
    height: 300px;
    border-radius: 16px;
}
.row .srilanka{
    width: 374px;
    height: 286px;
    border-radius: 16px;
}
.row .america{
    width: 474px;
    height: 286px;
    border-radius: 16px;
}
.row .bangladesh{
    width: 473px;
    height: 300px;
    border-radius: 16px;
}
.row .kashmir{
    width: 274px;
    height: 286px;
    border-radius: 16px;
}
.row .bandarban{
    width: 673px;
    height: 300px;
    border-radius: 16px;
}
.country-name-1{
    position: absolute;
    top: 45%;
    left: 37%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.country-name-7{
    position: absolute;
    top: 45%;
    left: 34%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.country-name-2{
    position: absolute;
    top: 45%;
    left: 30%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.country-name-3{
    position: absolute;
    top: 45%;
    left: 25%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.country-name-4{
    position: absolute;
    top: 45%;
    left: 25%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.country-name-5{
    position: absolute;
    top: 45%;
    left: 35%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.country-name-6{
    position: absolute;
    top: 45%;
    left: 30%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}
.choosing-tittle{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.hotel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}
.background-1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}
.background-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    margin: 25px auto;
}
.hotel-tittle{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
}
.hotel-description{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}
.place-tittle{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.place-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.btn-2{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 30px;
}
.video{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.newslatter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    position: relative;
}
.news{
    border: 1px solid #FF5400;
    border-radius: 16px;
    width: 480px;
    height: 440px;
    padding: 30px;
}
.hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px 0;
}
input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
}
.btn-3{
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 25px;
}
.img-3{
    width: 670px;
    height: 470px;
    border-radius: 16px;
}
.img-4{
    background-image: url(Images/Rectangle\ 14.png);
    position: absolute;
    right: 329px;
    bottom: 80px;
    width: 300px;
    height: 100px;
    transform: rotate(-30deg);
    border-radius: 16px;
    background: #FF5400;
    padding-top: 15px;
}
.img-p{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
}
.img-h3{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
}
/* footer section styles */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 110px;
    padding-top: 110px;
}
.footer-tittle{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}
.footer-section{
    text-align: center;
    max-width: 1900px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-section i{
    margin-right: 25px;
    margin-top: 33px;
}
.hr-2{
    width: 872px;
    height: 1px;
    margin: 50px auto;
}

/*-----respo------*/

@media screen and (max-width: 600px) {
    .nav-tittle{
        font-size: 30px;
        font-weight: 800;
    }
    nav ul{
        display: none;
    }
    .check{
        display: block;
    }
    .banner{
        width: 400px;
        height: 483px;
        padding-top: 20px;
    }
    .background,.info-container,.popular-tour-section,.flex-row,.hotel,.place-section,.newslatter-section{
        flex-direction: column;
    }
    .selector,.input,.btn-primary{
        width: 255px;
        height: 52px;
        border-radius: 8px;
    }
    .input{
        padding-left: 0;
    }
    .banner-tittle{
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }
    .banner-description,.tour-description,.destination-description,.hotel-description{
        font-size: 14px;
    }
    .head{
        padding-left: 20px;
    }
    .img-1{
        width: 335px;
        height: 342px;
        border-radius: 16px;
    }
    .tour-tittle,.destination-tittle,.choosing-tittle,.hotel-tittle,.place-tittle,.service-tittle{
        font-size: 20px;
    }
    .row .i-1{
        width: 335px;
        height: 176px;
    }
    .image-sizing{
        width: 80%;
        margin: 0 auto;
    }
    .country-name-1{
        position: absolute;
        top: 45%;
        left: 27%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .country-name-2{
        position: absolute;
        top: 45%;
        left: 28%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .country-name-3{
        position: absolute;
        top: 45%;
        left: 17%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .country-name-4{
        position: absolute;
        top: 45%;
        left: 29%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .country-name-5{
        position: absolute;
        top: 45%;
        left: 22%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .country-name-6{
        position: absolute;
        top: 45%;
        left: 22%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .country-name-7{
        position: absolute;
        top: 45%;
        left: 25%;
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .background-1{
        width: 335px;
        height: 260px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }
    .background-2{
        width: 335px;
        height: 260px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }
    .video{
        width: 335px;
        height: 200px;
        border-radius: 16px;
        background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    }
    .news{
        width: 340px;
        height: 400px;
    }
    .hr{
        width: 288px;
        height: 1px;
    }
    input,.btn-3{
        width: 288px;
        height: 52px;
    }
    .img-3{
        width: 340px;
        height: 300px;
    }
    .img-4{
        width: 200px;
        height: 60px;
        transform: rotate(-19.628deg);
        left: 180px;
        top: 700px;
        position: absolute;
    }
    .img-p{
        color: #FFF;
        text-align: center;
        font-size: 15.854px;
    }
    .img-h3{
        color: #FFF;
        font-size: 21px;
        font-weight: 800;
        text-align: center;
    }
    .footer-tittle{
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;
    }
    .footer-section{
        width: 100%;  
    }
    .hr-2{
        width: 335px;
        height: 1px;
    }

}